body[data-theme^="dark"] img {
    filter: brightness(.8) contrast(1.2);
}


:root [data-theme^="light"] {
    --subwrap-bg: #f5f5f5;
    --default-color: white;
    --menu-fg: #242424;
}


:root [data-theme^="dark"] {
    --subwrap-bg: #000000;
    --default-color: #f1f1f1;
    --menu-fg: var(--default-color);
}

/* 
@media (prefers-color-scheme: dark) {
    img {
      filter: brightness(.8) contrast(1.2);
    }
} */